.text-center {
  text-align: center;
}

.text-important { 
	  text-align: center;
	  color: red;
}

body {
  background-color: #1c1c1d;
  color: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 20px 20px;
}

.game-link {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #c9c9c9;
}

.game-tile {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.game-tile-popular {
  transition: transform 0.3s ease;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ad0000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ad-tile {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.subway-surfers-selection {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
}

.game-tile:hover {
  transform: scale(1.1);
}

.game-tile-popular:hover {
  transform: scale(1.1);
}

.game-icon {
  border-radius: 10px;
}

.menubar {
  background-color: #333;
  overflow: hidden;
    border-radius: 10px;
}

.sortbar {
  overflow: hidden;
    border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #c9c9c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right a{
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
    border-radius: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a83234;
  color: #c9c9c9;
    border-radius: 10px;
}

form
{
		margin-top: 50px;
		transition: all 4s ease-in-out;
		text-align: center;
}

.form-control
{
	width: 1000px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 24px;
	margin-bottom: 16px;
}

input
{
		height: 45px;
}

form .submit
{
	background: #a83234;
	border-color: transparent;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover
{
	background-color: #ddd;
	cursor: ponter;
	color: black;
}

div, iframe
{
	margin: 0 auto;
	text-align:center;
	display:block;
}

.box{
    margin-right:50px;
	margin-left:50px;
}

.search-box {
  border: 1px solid #b7b5b5;
  height: 30px;
  width: 10%;
  background-color: white;
  border-radius: 50px;
  padding:5px 30px;
  display: flex;
  top:18px;
  flex-direction: column;
  margin-right:50px;
  margin-left:50px;
  margin-top: 10px;
}
.search-box.active{
  border:none;
  width: 60%;
  border-bottom:1px solid #b7b5b5;
  border-radius:0px;
  /*background:#a83234;*/
    background-color: white;
}

hr.dashed {
  border-top: 3px dotted;
   border-bottom: none;
}

hr.double {
 border-top: 3px double;
 border-bottom: none;
}