.text-center {
  text-align: center;
}

.text-important { 
	  text-align: center;
	  color: red;
}

body {
  background-color: #1c1c1d;
  color: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 20px 20px;
}

.game-link {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #c9c9c9;
}

.game-tile {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.game-tile-popular {
  transition: transform 0.3s ease;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ad0000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ad-tile {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.subway-surfers-selection {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
}

.game-tile:hover {
  transform: scale(1.1);
}

.game-tile-popular:hover {
  transform: scale(1.1);
}

.game-icon {
  border-radius: 10px;
}

.menubar {
  background-color: #333;
  overflow: hidden;
    border-radius: 10px;
}

.sortbar {
  overflow: hidden;
    border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #c9c9c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right a{
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
    border-radius: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a83234;
  color: #c9c9c9;
    border-radius: 10px;
}

form
{
		margin-top: 50px;
		transition: all 4s ease-in-out;
		text-align: center;
}

.form-control
{
	width: 1000px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 24px;
	margin-bottom: 16px;
}

input
{
		height: 45px;
}

form .submit
{
	background: #a83234;
	border-color: transparent;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover
{
	background-color: #ddd;
	cursor: ponter;
	color: black;
}

div, iframe
{
	margin: 0 auto;
	text-align:center;
	display:block;
}

.box{
    margin-right:50px;
	margin-left:50px;
}

hr.dashed {
  border-top: 3px dotted;
   border-bottom: none;
}

hr.double {
 border-top: 3px double;
 border-bottom: none;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown button */
.dropbtn {
  background-color: #a83234;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.radio-buttons {
  padding: 10px;
  float: left;
}

/* Style radio buttons */
input[type="radio"] {
  margin: 5px;
}

/* Images */
.image {
  display: block;
  margin-bottom: 10px;
}

/* Size classes */
.small {
  width: 180px;
  height: 180px;
}

.medium {
  width: 240px;
  height: 240px;
}

.large {
  width: 360px;
  height: 360px;
}

.search-box{
  background-color: #333;
  border: 3px solid #ad0000;
  border-radius: 5px;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 30px;
  width: 10%;
  margin-left:50px;
  margin-top: 10px;
  display: flex;
}

.search-box.active{
  width: 60%;
  border-bottom:3px solid #ad0000;
  border-radius: 5px;
  /*background:#a83234;*/
  background-color: #333;
}