@font-face {
    font-family:"Boogaloo-Regular";
    src:    url("../fonts/BoogalooRegular/Boogaloo-Regular.eot?")                format("eot"),
            url("../fonts/BoogalooRegular/Boogaloo-Regular.woff")                format("woff"),
            url("../fonts/BoogalooRegular/Boogaloo-Regular.ttf")                 format("truetype");
    font-weight:normal;
    font-style:normal;
}
