@font-face {
    font-family:"Days";
    src:    url("../fonts/Days/Days.eot?")                format("eot"),
            url("../fonts/Days/Days.woff")                format("woff"),
            url("../fonts/Days/Days.ttf")                 format("truetype");
    font-weight:normal;
    font-style:normal;
}
